div {
  background-color: seagreen;
  text-align: center;
  height: 200px;
}

iframe{
  width: 100%;
  height: auto;
}

.vermelho {
  background-color: red;
}

#central {
  background-color: aquamarine;
}

p {
  background-color: seagreen;
}