body {
  font-family: Arial, sans-serif;
  background: #101820;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 20px 0;
  color: #00bcd4;
}

.carrossel {
  position: relative;
  width: 50%;
  margin: auto;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}


.imagens {
  display: flex;
  transition: transform 0.5s ease;
}

.imagens img {
  width: 100%;
  flex-shrink: 0;
  display: block;
}

/* Botões integrados */
.controle {
  position: absolute;
  top: 45%;
  
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  border: none;
  font-size: 28px;
  cursor: pointer;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  transition: background 0.3s ease;
  z-index: 5; /* garante que fique sobre as imagens */
}

.controle:hover {
  background: rgba(0, 0, 0, 0.7);
}

/* Botão esquerdo e direito nas laterais fixas do carrossel */
.anterior {
  left: 15px;
}

.proximo {
  right: 15px;
}


/* Para telas menores */
@media (max-width: 600px) {
  .controle {
    padding: 10px;
    font-size: 18px;
  }
}
