* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
text-align: center;
height: 100vh;
}

h2 {
  margin: 20px;
  font-family: Arial, sans-serif;
}

button {
  padding: 20px;
  margin: 25px;
  font-size: 20px;
  border: solid 2px #000;
  border-radius: 5px;
  cursor: pointer;
}

#vermelho {
  background-color: red;
  color: white;
}

#verde {
  background-color: green;
  color: white;
}

#azul {
  background-color: blue;
  color: white;
}