
body {
  background-color: aliceblue;
}

header {
  background-color: green;
  text-align: center;
  color: white;
  padding: 1em;
}

main {
  border: 3px dotted #333; /* Borda de 3px, sólida e cinza escuro */
  border-radius: 10px; /* Cantos arredondados */
  padding: 50px; /* Espaçamento interno */
  margin: 50px; /* Espaçamento externo */
  background-color: #a13d3d; /* Cor de fundo */
}

footer {
  background-color: #333;
  color: white;
  padding: 1em;
}
