body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

input {
  padding: 10px;
  width: 350px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #418d43;
  color: white;
  border: none;
  border-radius: 5px;
}

li {
  font-size: 18px;
  list-style-type: none;
  margin: 5px 0;
}