body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.container {
  display: flex;
  justify-self: center;
  gap: 20px;
  margin: 20px 0;
}

.caixa {
  width: 90px;
  height: 90px;
  background-color: gray;
  border-radius: 10px;
}

#botao {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color:   #4CAF50;
  border: none;
  border-radius: 5px;
}